---
layout: action-network.hbs
subject: Cosecha Testing Template
---
<div class="movableContent" style="background: rgba(250,250,250,0)!important;">
  <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
    <tbody>
      <tr>
        <td height="20">&nbsp;</td>
      </tr>
      <tr>
        <td align="center">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="bgItem" style="width: 600px; background: rgba(250, 250, 250, 0) !important;">
            <tbody>
              <tr>
                <td align="center">
                  <div class="contentEditableContainer contentImageEditable">
                    <div class="contentEditable" style="text-align: center;">
                      <div class="section-heading">
                        <h4>COMUNIDAD</h4>
                      </div>
                      <!-- <img alt="Comunidad" src="http://d3n8a8pro7vhmx.cloudfront.net/promiseazaction/mailings/148/attachments/original/comunidad.jpg?1444454684" style="border-radius: 6px; -webkit-border-radius: 6px; background: rgba(250,250,250,0)!important;" width="600"/> -->
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="movableContent">
  <table border="0" cellpadding="0" cellspacing="0" style="font-family: Helvetica, sans-serif; width: 100%;">
    <tbody>
      <tr>
        <td height="20">&nbsp;</td>
      </tr>
      <tr>
        <td>
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="bgItem" style="border-radius: 6px; width: 600px;">
            <tbody>
              <tr>
                <td align="center">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 520px;">
                    <tbody>
                      <tr>
                        <td colspan="3" height="35">&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="310">
                          <table align="center" cellpadding="0" cellspacing="0" style="width: 510px;">
                            <tbody>
                              <tr>
                                <td align="center">
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" style="text-align: left;">
                                      <h1 style="font-size: 26px;">Our Promise to You</h1>
                                      <br/>

                                      <img alt="Promise Arizona hosts vigil and fast in support of DAPA and DACA relief" src="http://d3n8a8pro7vhmx.cloudfront.net/promiseazaction/mailings/151/attachments/original/151222-email-petra.jpg?1450819772" style="margin: 20px; float: left;width:200px;" width="80"/>
                                      <br/>
																			<p>Dear PAZ friends and supporters,</p><br>

																			<p>Christmas can be a spiritually fulfilling and joyful time. For most, it’s a time to cherish and share the love of friends and family, look back, and imagine the promise of the year to come.</p><br>

																			<p>For Promise Arizona, 2015 was another busy year filled with challenges, frustrations and victories. We accept the challenges because we are committed, on your behalf, to the work we accomplish. Our frustrations are the natural result of knowing that so much more work needs to be done. Our victories and the fulfillment they bring come from knowing so many of you are truly helped by the mission we pursue.</p><br>

																			<p>Our mission, our pledge to you, has always been to empower our community by engaging all of you as leaders in the creation of a more inclusive, just and humane Arizona. Without your support of our efforts, Promise Arizona would not exist or succeed.</p><br>

																			<p>We promise to recommit ourselves fully to our mission, inspired by the love and respect we have for you and your families as we face the challenges, frustrations, and victories to come together.</p><br>

																			<p>Have a joyous, safe and peaceful holiday season. </p><br>

																			<p>Petra Falcon</p>
																			<p>Executive Director</p>
																			<p>Promise Arizona</p>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3" height="35">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="movableContent" style="background: rgba(250,250,250,0)!important;">
  <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
    <tbody>
      <tr>
        <td height="20">&nbsp;</td>
      </tr>
      <tr>
        <td align="center">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="bgItem" style="width: 600px; background: rgba(250, 250, 250, 0) !important;">
            <tbody>
              <tr>
                <td align="center">
                  <div class="contentEditableContainer contentImageEditable">
                    <div class="contentEditable" style="text-align: center;">
                      <div class="section-heading">
                        <h4>GIVING</h4>
                      </div>
                      <!-- <img alt="Comunidad" src="http://d3n8a8pro7vhmx.cloudfront.net/promiseazaction/mailings/148/attachments/original/comunidad.jpg?1444454684" style="border-radius: 6px; -webkit-border-radius: 6px; background: rgba(250,250,250,0)!important;" width="600"/> -->
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="movableContent">
  <table border="0" cellpadding="0" cellspacing="0" style="font-family: Helvetica, sans-serif; width: 100%;">
    <tbody>
      <tr>
        <td height="20">&nbsp;</td>
      </tr>
      <tr>
        <td>
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="bgItem" style="border-radius: 6px; width: 600px;">
            <tbody>
              <tr>
                <td align="center">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 520px;">
                    <tbody>
                      <tr>
                        <td colspan="3" height="35">&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="310">
                          <table align="center" cellpadding="0" cellspacing="0" style="width: 510px;">
                            <tbody>
                              <tr>
                                <td align="center">
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" style="text-align: left;">
                                      <h1 style="font-size: 26px;">Support PAZ</h1><br>

                                      <a href="#"><img alt="Pope leads World Meeting of Families" src="http://d3n8a8pro7vhmx.cloudfront.net/promiseazaction/mailings/151/attachments/original/151222-email-virgen.jpg?1450820285"
                                        style="margin: 20px; float: left;width:200px;" /></a>
                                      <br/>
                                      <p>If you support our mission, we ask that you consider donating to Promise Arizona. December’s Giving Season is the perfect time to contribute. PAZ is a nonprofit, tax exempt 501 c.3 organization, so your contributions totally tax deductible. No donation is too small (or too large). Give what you can afford. Help us do our work on behalf of the thousands of Arizona families who need our help. </p><br>
																			<p><strong><a href="https://paz-promiseazaction.nationbuilder.com/membership">Click here, to give.</a></strong></p><br>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3" height="35">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="movableContent" style="background: rgba(250,250,250,0)!important;">
  <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
    <tbody>
      <tr>
        <td height="20">&nbsp;</td>
      </tr>
      <tr>
        <td align="center">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="bgItem" style="width: 600px; background: rgba(250, 250, 250, 0) !important;">
            <tbody>
              <tr>
                <td align="center">
                  <div class="contentEditableContainer contentImageEditable">
                    <div class="contentEditable" style="text-align: center;">
                      <div class="section-heading">
                        <h4>EDUCATION</h4>
                      </div>
                      <!-- <img alt="Comunidad" src="http://d3n8a8pro7vhmx.cloudfront.net/promiseazaction/mailings/148/attachments/original/comunidad.jpg?1444454684" style="border-radius: 6px; -webkit-border-radius: 6px; background: rgba(250,250,250,0)!important;" width="600"/> -->
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="movableContent">
  <table border="0" cellpadding="0" cellspacing="0" style="font-family: Helvetica, sans-serif; width: 100%;">
    <tbody>
      <tr>
        <td height="20">&nbsp;</td>
      </tr>
      <tr>
        <td>
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="bgItem" style="border-radius: 6px; width: 600px;">
            <tbody>
              <tr>
                <td align="center">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 520px;">
                    <tbody>
                      <tr>
                        <td colspan="3" height="35">&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="310">
                          <table align="center" cellpadding="0" cellspacing="0" style="width: 510px;">
                            <tbody>
                              <tr>
                                <td align="center">
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" style="text-align: left;">
                                      <h1 style="font-size: 26px;">PAZ Graduates English Language Learners</h1><br>

																			<img alt="PAZ registers 60 to vote" src="http://d3n8a8pro7vhmx.cloudfront.net/promiseazaction/mailings/151/attachments/original/151222-email-education.jpg?1450820600"
                                        style="margin: 10px; float: right;width:250px;"/>
                                      <br/>
																			<p>Promise Arizona has graduated 38 students from its latest class of English Language Learners as part of our “English Innovations®” program.</p><br>

																			<p>The classes are aimed primarily at teaching English to people eligible for DACA (Deferred Action for Childhood Arrivals) recipients, commonly known as “Dreamers”. English Innovations teaches English using a mix of online and classroom instruction. Having a certain, minimum level of English proficiency is required to receive DACA. Students can also receive legal advice and assistance on how to apply for DACA.</p><br>

																			<p>“What’s great is that the classes not only prepare students who want to apply for DACA and earn a GED (General Equivalency High School Diploma), but it also prepares them to continue their education,” said PAZ Office Manager Joanna Lucero. </p><br>

																			<p>The classes are free and funded locally with a grant from the Bill and Melinda Gates Foundation.  Students work at their own pace in the classroom and at home, while receiving the support of a traditional classroom atmosphere. Students learn the equivalent of one year of traditional English education in an 11-week course. The classes are taught at South Mountain Community College, 24th Street and Baseline Road in Phoenix, as part of a partnership with the school.</p><br>

																			<p>“Being in the English Innovations classes, I’m one step closer to achieving my dream of one day going to college and giving my daughters a better life,” said 26-year-old Alma Hernandez, a former student and DACA recipient. </p><br>

																			<p>The next round of English Innovations classes begins January 25, 2016. If you’re interested in registering, please call <a href="tel:6022883663">602-288-3663</a>, <a href="tel:4807877994">480-787-7994</a> or email <a href="mailto:info@promiseaz.org">info@promiseaz.org</a>. Promise Arizona also needs volunteers to teach English.</p><br>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3" height="35">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="movableContent" style="background: rgba(250,250,250,0)!important;">
  <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
    <tbody>
      <tr>
        <td height="20">&nbsp;</td>
      </tr>
      <tr>
        <td align="center">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="bgItem" style="width: 600px; background: rgba(250, 250, 250, 0) !important;">
            <tbody>
              <tr>
                <td align="center">
                  <div class="contentEditableContainer contentImageEditable">
                    <div class="contentEditable" style="text-align: center;">
                      <div class="section-heading">
                        <h4>UPCOMING EVENTS</h4>
                      </div>
                      <!-- <img alt="Events" src="http://d3n8a8pro7vhmx.cloudfront.net/promiseazaction/mailings/148/attachments/original/events.jpg?1444454685" style="border-radius: 6px; -webkit-border-radius: 6px; background: rgba(250,250,250,0)!important;" width="600"/> -->
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="movableContent">
  <table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family: Helvetica, sans-serif; width: 100%;">
    <tbody>
      <tr>
        <td height="20">&nbsp;</td>
      </tr>
      <tr>
        <td>
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="bgItem" style="border-radius: 6px; width: 600px;">
            <tbody>
              <tr>
                <td align="center">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 560px;">
                    <tbody>
                      <tr>
                        <td colspan="3" height="20">&nbsp;</td>
                      </tr>
                      <tr>
                        <td align="center">
                          <table border="0" cellpadding="0" cellspacing="0" style="width: 560px;">
                            <tbody>
                              <tr>
                                <td colspan="3" height="20">&nbsp;</td>
                              </tr>
                              <tr>
                                <td width="35">&nbsp;</td>
                                <td>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" style="text-align: left;">
                                      <h2 style="font-size: 26px;">PAZ partners on 2016 Voting Summit</h2>
																			<img src="http://d3n8a8pro7vhmx.cloudfront.net/promiseazaction/mailings/151/attachments/original/151222-email-summit.jpg?1450821002" alt="Voting Summit" style="float:left;margin:20px;width:250px;" />
                                      <br/>
																			<p>Promise Arizona is partnering with local and statewide voter engagement groups January 18 to host the One Arizona 2016 Voting Summit.</p><br>

																			<p>“It’s important that we start strong in 2016 working to get as many young people, women and Latinos registered to vote,” said Petra Falcon, executive director of Promise Arizona. “Our power and influence on the election process happens in the streets, but more importantly at the polls.”</p><br>

																			<p>The event will offer training for volunteers on voter registration and workshops on get-out-the-vote efforts. The training and workshops will be offered in English and Spanish. There will also be panel discussions on the subject of voter turnout and participation and a powerful voter action event.</p><br>

																			<p>One Arizona was founded in 2010 as a direct response to the growing disenfranchisement of voter and the direct attack on the Latino community that resulted from the passage of Senate Bill 1070. A major goal of the group is to register the nearly 300,000 Arizona Latinos who are eligible to vote but not yet registered.</p><br>

																			<p>The event is from 8 a.m. to 3 p.m. at Carl Hayden High School, 3333 West Roosevelt, Phoenix, AZ. This is a non-partisan, free and open to the public.</p><br>

																			<p>To 2016 Voting Summit is co-sponsored by Promise Arizona, Puente Human Rights, ADAC, Mi Familia Vota, Center for Neighborhood Leadership, CASE, ACE, PAPCO, and the Foundation for ASU Students.</p><br>

																			<p>To register, contact Joanna at Promise Arizona at <a href="tel:6022883663">602-288-3663</a> or <a href="mailto:info@promiseaz.org">info@promiseaz.org</a>. Share this important message online using #OneAZVotes. For more information about One Arizona, visit <a href="http://onearizona.org">onearizona.org</a>.</p><br>
                                    </div>
                                  </div>
                                </td>
                                <td width="35">&nbsp;</td>
                              </tr>
                              <tr>
                                <td colspan="3" height="20">&nbsp;</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3" height="20">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="movableContent" style="background: rgba(250,250,250,0)!important;">
  <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
    <tbody>
      <tr>
        <td height="20">&nbsp;</td>
      </tr>
      <tr>
        <td align="center">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="bgItem" style="width: 600px; background: rgba(250, 250, 250, 0) !important;">
            <tbody>
              <tr>
                <td align="center">
                  <div class="contentEditableContainer contentImageEditable">
                    <div class="contentEditable" style="text-align: center;">
                      <div class="section-heading">
                        <h4>PAZ News</h4>
                      </div>
                      <!-- <img alt="Citizenship" src="http://d3n8a8pro7vhmx.cloudfront.net/promiseazaction/mailings/148/attachments/original/citizenship.jpg?1444455130" style="border-radius: 6px; -webkit-border-radius: 6px; background: rgba(250,250,250,0)!important;"
                      width="600"/> -->
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="movableContent">
  <table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family: Helvetica, sans-serif; width: 100%;">
    <tbody>
      <tr>
        <td height="20">&nbsp;</td>
      </tr>
      <tr>
        <td>
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="bgItem" style="border-radius: 6px; width: 600px;">
            <tbody>
              <tr>
                <td align="center">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 560px;">
                    <tbody>
                      <tr>
                        <td colspan="3" height="20">&nbsp;</td>
                      </tr>
                      <tr>
                        <td align="center">
                          <table border="0" cellpadding="0" cellspacing="0" style="width: 560px;">
                            <tbody>
                              <tr>
                                <td colspan="3" height="20">&nbsp;</td>
                              </tr>
                              <tr>
                                <td width="35">&nbsp;</td>
                                <td>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" style="text-align: left;">
                                      <h2>Honor Your Mother</h2>
                                      <br/>
                                      <p>Promise Arizona was one of 70 community-based organizations and churches that joined in this year’s Honor Your Mother procession from Immaculate Heart Catholic Church to St. Mary’s Basilica in downtown Phoenix on December 5. Promise Arizona prepared a float for the event. The procession pays tribute to Latin America’s patron saint, the Virgin of Guadalupe. Thousands gathered after the procession for a performance by Mexico City’s Opera Joven and an outdoor Mass led by Bishop Thomas J. Olmstead and Auxiliary Bishop Eduardo A. Nevares of the Catholic Diocese of Phoenix.</p><br>
                                    </div>
                                  </div>
                                </td>
                                <td width="35">&nbsp;</td>
                              </tr>
                              <tr>
                                <td colspan="3" height="20">&nbsp;</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3" height="20">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="movableContent">
  <table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family: Helvetica, sans-serif; width: 100%;">
    <tbody>
      <tr>
        <td height="20">&nbsp;</td>
      </tr>
      <tr>
        <td>
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="bgItem" style="border-radius: 6px; width: 600px;">
            <tbody>
              <tr>
                <td align="center">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 560px;">
                    <tbody>
                      <tr>
                        <td colspan="3" height="20">&nbsp;</td>
                      </tr>
                      <tr>
                        <td align="center">
                          <table border="0" cellpadding="0" cellspacing="0" style="width: 560px;">
                            <tbody>
                              <tr>
                                <td colspan="3" height="20">&nbsp;</td>
                              </tr>
                              <tr>
                                <td width="35">&nbsp;</td>
                                <td>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" style="text-align: left;">
                                      <h2>Falcon Attends Princeton Education Conference</h2>
                                      <br/>
                                      <p>Promise Arizona Executive Director Petra Falcon was part of a conference organized by Education Testing Services (ETS) on December 5. “Raising the Floor: Structuring Public Education to Prepare Students in the Bottom Quartile for 21st-Century Knowledge Work” was presented by ETS, the Algebra Project and the Young People’s Project, with support from the Education Law Center. The conference addressed the question: What must the nation do to the structure of public education so that every student is prepared for 21st-century knowledge work and higher education? The emphasis of the conversation was on students in the bottom fourth of the socioeconomic status and the selected efforts states are undertaking in classrooms and schools, through legislation, in the courts, and the ballot boxes to address the educational outcomes of this population. “Increasing the civic engagement of young Latinos is a major focus for us at Promise Arizona, so it’s vital that we find ways to make sure the most disadvantaged in our community graduate from college and pursue higher education. If young Latinos success, especially in a state like Arizona, the entire community succeeds.”</p><br>
                                    </div>
                                  </div>
                                </td>
                                <td width="35">&nbsp;</td>
                              </tr>
                              <tr>
                                <td colspan="3" height="20">&nbsp;</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3" height="20">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="movableContent">
  <table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family: Helvetica, sans-serif; width: 100%;">
    <tbody>
      <tr>
        <td height="20">&nbsp;</td>
      </tr>
      <tr>
        <td>
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="bgItem" style="border-radius: 6px; width: 600px;">
            <tbody>
              <tr>
                <td align="center">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 560px;">
                    <tbody>
                      <tr>
                        <td colspan="3" height="20">&nbsp;</td>
                      </tr>
                      <tr>
                        <td align="center">
                          <table border="0" cellpadding="0" cellspacing="0" style="width: 560px;">
                            <tbody>
                              <tr>
                                <td colspan="3" height="20">&nbsp;</td>
                              </tr>
                              <tr>
                                <td width="35">&nbsp;</td>
                                <td>
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" style="text-align: left;">
                                      <h2>PAZ attends nation’s largest immigration conference</h2>
                                      <br/>
                                      <p>Promise Arizona staff and volunteers attended the nation’s largest and most influential immigration conference Dec. 13-15, in New York City. The event, the 2015 National Immigrant Integration Conference featured speakers like Democratic presidential candidates Hillary Clinton, Martin O’Malley and Bernie Sanders, as well as New York City Mayor Bill de Blasio and Congressman Luis Gutierrez. Panel and workshop topics addressed a wide range of topics, such as immigrants rights, community organizing and efforts to combat over-policing and racism. “Immigration is one of the most important issues facing our country, and this is the most important conference on immigration, so being able to attend was not only educational, but it helps us connect with the nation’s most important voices on immigration,” said Promise Arizona Office Manager Joanna Lucero.</p><br>
                                    </div>
                                  </div>
                                </td>
                                <td width="35">&nbsp;</td>
                              </tr>
                              <tr>
                                <td colspan="3" height="20">&nbsp;</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3" height="20">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>



<div class="movableContent" style="background: rgba(250,250,250,0)!important;">
  <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
    <tbody>
      <tr>
        <td height="20">&nbsp;</td>
      </tr>
      <tr>
        <td align="center">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="bgItem" style="width: 600px; background: rgba(250, 250, 250, 0) !important;">
            <tbody>
              <tr>
                <td align="center">
                  <div class="contentEditableContainer contentImageEditable">
                    <div class="contentEditable" style="text-align: center;">
                      <div class="section-heading">
                        <h4>About PAZ</h4>
                      </div>
                      <!-- <img alt="About Us" src="http://d3n8a8pro7vhmx.cloudfront.net/promiseazaction/mailings/148/attachments/original/about-paz.jpg?1445469158" style="border-radius: 6px; -webkit-border-radius: 6px; background: rgba(250,250,250,0)!important;" width="600"/> -->
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="movableContent">
  <table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family: Helvetica, sans-serif; width: 100%;">
    <tbody>
      <tr>
        <td height="20">&nbsp;</td>
      </tr>
      <tr>
        <td align="center">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="bgItem" style="border-radius: 6px; width: 600px;">
            <tbody>
              <tr>
                <td align="center">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 520px;">
                    <tbody>
                      <tr>
                        <td height="35">&nbsp;</td>
                      </tr>
                      <tr>
                        <td align="center" width="150">
                          <div class="contentEditableContainer contentImageEditable">
                            <div class="contentEditable"><img alt="side image" src="http://d3n8a8pro7vhmx.cloudfront.net/promiseazaction/mailings/148/attachments/original/about-promize-az.jpg?1445470499" width="150"/></div>
                          </div>
                        </td>
                        <td width="35">&nbsp;</td>
                        <td width="310">
                          <table align="center" cellpadding="0" cellspacing="0" style="width: 310px;">
                            <tbody>
                              <tr>
                                <td align="center">
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" style="text-align: left;">

                                      <p>Promise Arizona is a membership organization dedicated to recruiting, training and supporting a new generation of leaders from across the state to build a better Arizona, one in which all residents will have the opportunity to achieve their full
                                        God-given potential.
                                      </p><br>
                                      <p>Promise Arizona is a member of Somos America, Black/Brown Coalition, FIRM/NPNA/MIA, Alliance for Citizenship, Equal Voices Action/Casey. Promise Arizona’s sister organization is Promise Arizona in Action, a 501.c4 advocacy organization.</p><br>
                                      <p>For more Information about Promise Arizona, visit <a href="http://www.promiseaz.org">www.promiseaz.org</a> or contact
                                        <a href="tel:6022883663">602-288-3663</a>
                                        or
                                        <a href="mailto:info@promiseaz.org">info@promiseaz.org</a>.</p><br>

                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td height="35">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="movableContent" style="background: rgba(250,250,250,0)!important;">
  <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
    <tbody>
      <tr>
        <td height="20">&nbsp;</td>
      </tr>
      <tr>
        <td align="center">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="bgItem" style="width: 600px; background: rgba(250, 250, 250, 0) !important;">
            <tbody>
              <tr>
                <td align="center">
                  <div class="contentEditableContainer contentImageEditable">
                    <div class="contentEditable" style="text-align: center;">
                      <div class="section-heading">
                        <h4>Take Action</h4>
                      </div>
                      <!-- <img alt="Noticias" src="http://d3n8a8pro7vhmx.cloudfront.net/promiseazaction/mailings/148/attachments/original/take-action.jpg?1445469159" style="border-radius: 6px; -webkit-border-radius: 6px; background: rgba(250,250,250,0)!important;" width="600"/> -->
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="movableContent">
  <table align="center" border="0" cellpadding="0" cellspacing="0" style="font-family: Helvetica, sans-serif; width: 100%;">
    <tbody>
      <tr>
        <td height="20">&nbsp;</td>
      </tr>
      <tr>
        <td align="center">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="bgItem" style="border-radius: 6px; width: 600px;">
            <tbody>
              <tr>
                <td align="center">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 520px;">
                    <tbody>
                      <tr>
                        <td height="35">&nbsp;</td>
                      </tr>
                      <tr>
                        <td align="center" width="150">
                          <div class="contentEditableContainer contentImageEditable">
                            <div class="contentEditable"><img alt="side image" src="http://d3n8a8pro7vhmx.cloudfront.net/promiseazaction/mailings/148/attachments/original/take-action-vote.jpg?1445470500" width="150"/></div>
                          </div>
                        </td>
                        <td width="35">&nbsp;</td>
                        <td width="310">
                          <table align="center" cellpadding="0" cellspacing="0" style="width: 310px;">
                            <tbody>
                              <tr>
                                <td align="center">
                                  <div class="contentEditableContainer contentTextEditable">
                                    <div class="contentEditable" style="text-align: left;">

                                      <p>To volunteer for Promise Arizona, visit
                                        <a href="http://www.promiseaz.org/volunteer">http://www.promiseaz.org/volunteer</a>
                                        or contact
                                        <a href="tel:6022883663">602-288-3663</a>
                                        or
                                        <a href="mailto:info@promiseaz.org">info@promiseaz.org</a>
                                      </p><br>

                                      <p>
                                        As a member of Promise Arizona, you’ll participate in our signature Movement Building curriculum, in which you will learn the necessary skills and gain the tools to become an effective change agent in your community. </p><br><p>

Start your path to leadership today. Our membership program is contribution based and starts at $5 or more, you decide how much to contribute.</p>

<br><p class="become-member"><a href="http://www.promiseaz.org/membership">BECOME A MEMBER</a></p>
                                      </p>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td height="35">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
